
<br/>
<div ng-show="favMovie">
    <div class="row">
        <div class="col-md-2">
            <form role-"form" data-ng-submit="processedForm()">
            <div id="name-group" class="form-group" >
                <label>Number of Tickets</label>
                <input type="text" name="name" class="form-control" placeholder="0" ng-model="formData.noTickets">
            </div>

            <!-- SUPERHERO NAME -->
            <div id="superhero-group" class="form-group">
                <label>Book it when</label>
                <div class="form-group">
                    <label for="date">Date</label>
                    <select data-ng-model="formData.date" class="form-control" name="date" id="date" required >
                        <option selected>Today</option>
                        <option>Tomorow</option>
                        <option>The Day After</option>
                    </select>
                </div>

                <span class="help-block"></span>
            </div>

            <!-- SUBMIT BUTTON -->
            <button type="submit" class="btn btn-success btn-lg btn-block">
                Book now!
            </button>
            </form>
        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-3">
                     <img src="{{ formData.thumb}}"   width="100%"/>
                </div>
                <div class="col-md-7">
                    <h3>{{ formData.name}}</h3>
                    <p><span data-ng-repeat="i in getCount(formData.rating) track by $index" class="glyphicon glyphicon-star"></span></p>
                    <h4>Review</h4>
                    <label>{{ formData.review}}</label>
                </div>
            </div>
        </div>
    </div>
</div>




