*,
*:after,
*::before {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body,
.st-container,
.st-pusher,
.st-content {
	height: 100%;
}

.st-content {
	background: #f3efe0;
}

.st-content,
.st-content-inner {
	position: relative;height: 100%; overflow-x: hidden;
}

.st-container {
	position: absolute;
	top:0px;
    width: 100%;
	overflow: hidden;
}

.st-pusher {
	position: relative;
	left: 0;
	z-index: 99;
	height: 100%;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.st-pusher::after {
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	background: rgba(0,0,0,0.2);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
	transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

.st-menu-open .st-pusher::after {
	width: 100%;
	height: 100%;
	opacity: 1;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.st-menu {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	visibility: hidden;
	width: 300px;
	height: 100%;
	background: #353b47;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	color:#f4f4f4!important;
	padding: 0 11px;
}

.st-menu::after {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.2);
	content: '';
	opacity: 1;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.st-menu-open .st-menu::after {
	width: 0;
	height: 0;
	opacity: 0;
	-webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
	transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

/* content style */

#employee-designation{
	margin: 10px 0;
    padding: 0;
	font-weight: bold;
	color:#f4f4f4!important;
	font-size: 16px;
}
.st-menu>#profile{
	background-color: #4c5564;
	padding: 10px 8px;
}
#profile>img,#profile>.profile_details{
	display: inline-table;margin-right: 5px;
}
.profile_details>span{
	display: block;
}
.st-menu ul {
	margin: 10px 0 0px;
	padding: 0;
	list-style: none;
}

.st-menu h2 {
	margin: 0;
	padding: 1em;
	color: rgba(0,0,0,0.4);
	text-shadow: 0 0 1px rgba(0,0,0,0.1);
	font-weight: 300;
	font-size: 2em;
}

.st-menu ul li a {
	display: block;
	padding: 1em 1em 1em 1.2em;
	outline: none;
	box-shadow: inset 0 -1px #4c5564;
	color: #f3efe0;
	text-transform: uppercase;
	text-shadow: 0 0 1px rgba(255,255,255,0.1);
	letter-spacing: 1px;
	font-weight: 400;
	-webkit-transition: background 0.3s, box-shadow 0.3s;
	transition: background 0.3s, box-shadow 0.3s;
}

.st-menu ul li a::before{
	margin-right: 4px;
}
.st-menu ul li:first-child a {
	box-shadow: inset 0 -1px #4c5564, inset 0 1px #4c5564;
}

.st-menu ul li a:hover {
	background: rgba(0,0,0,0.2);
	box-shadow: inset 0 -1px rgba(0,0,0,0);
	color: #fff;
}

/* Effect 3: Push*/
.st-effect-3.st-menu-open .st-pusher {
	-webkit-transform: translate3d(300px, 0, 0);
	transform: translate3d(300px, 0, 0);
}

.st-effect-3.st-menu {
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
}

.st-effect-3.st-menu-open .st-effect-3.st-menu {
	visibility: visible;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.st-effect-3.st-menu::after {
	display: none;
}
/* Effect 3: Push*/

/* Fallback example for browsers that don't support 3D transforms (and no JS fallback) */
.no-csstransforms3d .st-pusher,
.no-js .st-pusher {
	padding-left: 300px;
}

.navbar-inverse{
	position: fixed !important;
    width: 100%;
    z-index: 100;
    top: 0px;
}









/* Home.html CSS*/
#inventory{
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	width: 100%
}
#st-inventory{
	overflow: hidden;
}

#inventory>a{
	display: block;
	padding: 1em 1em 1em 1.2em;
	font-size: 110%;
	outline: none;
	box-shadow: inset 0 -1px #9d9ea2;
	color: #333333;
	text-transform: uppercase;
	text-shadow: 0 0 1px rgba(255,255,255,0.1);
	letter-spacing: 1px;
	font-weight: 400;
	-webkit-transition: all 0.3s, box-shadow 0.3s;
	transition: all 0.3s, box-shadow 0.3s;
	position: relative;
	background: #fefefe; /* Old browsers */
	background: -moz-linear-gradient(top, #fefefe 0%, #dee0df 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#dee0df)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fefefe 0%,#dee0df 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fefefe 0%,#dee0df 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fefefe 0%,#dee0df 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fefefe 0%,#dee0df 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#dee0df',GradientType=0 ); /* IE6-9 */
}
#inventory>a{
text-decoration: none;
font-weight: bold;
}
#inventory>a.active{
	background: #7fb1d2;
    color: #ffffff;
	
	
}
#inventory >a> div{
	font-size: 65%;
    font-weight: bold;
   
}	
#inventory >a> div > span{
text-transform: uppercase;
padding: 2px 4px;
color: #fff;margin-right: 10px;

}	
#inventory >a> div > span::before{
font-size: 1.3em!important;	
}		
.amber{
	background-color: #ff9a02
}
.red{
	background-color: #ce4e4d
}			
.ngViewed,#item_selected{
padding-top: 53px;
}
/*Inventory item Push*/
#item_selected {
    background-color: #fff;
    display: block;
    height: 100%;
    position: fixed;
    right: -350px;
    top: 53px;
    width: 350px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    padding: 0px 10px;
     z-index: 99;

}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	.inventory-open #inventory{
		width: 66%!important;
	}

	.inventory-open #item_selected{
		width: 350px!important;	
		right:0px!important;
		
	}

}
.inventory-open #inventory{
	width: 70%;
}

.inventory-open #item_selected{
	width: 30%;	
	right:23px;
}

#itemName>*{
	vertical-align: middle;
}
#itemName .imgHolder,#itemName .imgName{
	color: #333333;
	font-size: 14px;
	display: inline-table;
}
#itemName .imgHolder:before{
	color: #fff;
    display: inline-block;
    font-family: "typicons";
    font-size: 2.5em;
    font-style: normal;
    font-weight: normal;
    left: 21px;
    position: absolute;
    text-align: center;
    text-decoration: inherit;
    text-rendering: optimizelegibility;
    top: 19px;
	content: '\e038';
}
.imgName{margin: auto;width:70%;}
.imgHolder{
	width:50px;
	height: 50px;
	border-radius: 27px;
	background-color: #ce4e4d;
	margin-right: 5px;
	display: block;
}								
.itemDate{
	
	border: 1px solid #9d9ea2;
    border-left: none;
    border-right: none;
    color: #333333;
    display: block;
    font-size: 65%;
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 13px;
    outline: medium none;
    padding: 0.5em 0;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.1);
}
#itemDropdown{
	background-color: #e6f7ff;
    border: 1px solid #cccccc;
    margin: 0 6px;
    padding: 5px 9px;
}
#itemDropdown>*{
vertical-align: middle;
display: inline-table;
margin-right: 5px;
}

#itemDropdown > div:first-child {
    letter-spacing: 0.1em;
}

.reserveNow{
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    display: block;
    margin-left: 8px;
    margin-right: 0;
    width: 20px;
    font-size: 2.5em!important;

}
.uniform-title{
	background-image: linear-gradient(to bottom, #3c3c3c 0%, #222 100%);
	font-size: 1em;
	color: #fff;
	padding: 4px 0px 4px 55px;
}
.uniform-title span{
	font-size: 1.5em
}
 
.uniform-title::before{
	display: inline-block;
    font-family: "typicons";
    font-size: 3.5em;
    font-style: normal;
    font-weight: normal;
    left: 16px;
    position: absolute;
    text-align: center;
    text-decoration: inherit;
    text-rendering: optimizelegibility;
    top: 46px;
	content: '\e12b';
} 
/* \HOME.html CSS*/